body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	line-height: 1.4em;
}
#model{
	position: fixed;
	width: calc(100% - 335px);
	height: 100%;
	top:0; left: 0;
}
#editor{
	padding: 5px;
	font-size: 15px;
	font-weight: 100;
	border: 1px solid #ccc;

	position: absolute;
	top: 20px;
	right: 20px;

	width:300px;
	height:calc(100% - 40px);
}